.img_menu {
    display: flex;
    flex-direction: column; /* Располагаем изображения в столбец */
    align-items: center; /* Центрируем изображения по горизонтали */
}

.img_menu img {
    max-width: 100%; /* Автоматически масштабируем до ширины контейнера */
    height: auto; /* Сохраняем пропорции изображений */
    width: 100%; /* Задаем желаемую ширину изображений */
    margin: 0%; /* Добавляем небольшие отступы между изображениями */
}